<header>
    <div class="py-2 border-bottom bg-white ">
        <div class="container d-flex flex-wrap flex-column flex-sm-row justify-content-between">
            <ul class="list-unstyled d-flex flex-wrap ms-0" >
                <li class="ms-3"><a href="#"><img src="assets/icons/google.svg" /></a></li>
                <li class="ms-3"><a href="#"><img src="assets/icons/twitter.svg" /></a></li>
                <li class="ms-3"><a href="#"><img src="assets/icons/facebook.svg" /></a></li>
                <li class="ms-3"><a href="#"><img src="assets/icons/instagram.svg" /></a></li>
            </ul>
            <div class="vr ms-2 me-5 "></div>
           <p class="text-muted small m-2">CALLING ALL MOTHER HUSTLERS, BOSS BABES AND FEMALE ENTREPRENEURS!</p>
          <div class="vr ms-2 me-5 "></div>
          <div class="text-end">
            <button type="button" class="btn me-2" style="border-color:#9c5f59;color: #9c5f59;" routerLink="/login">Login</button>
            <button type="button" class="btn" style="background-color:#9c5f59; color:white " routerLink="/signup">Sign-up</button>
          </div>
        </div>
      </div>
    <div class="py-0 border-bottom bg-white ">
      <div class="container d-flex flex-wrap align-items-center justify-content-center ">
        <div class="vr"></div>
        <img src="assets/images/Logo.png" class="ms-3 me-3" width="200" height="120 "/>
        <div class="vr"></div>
      </div>
    </div>
    </header>

