<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <div class="card shadow">
        <img src="assets/images/example.jfif" />

        <div class="card-body">
          <small class="bg-light text-warning text-center ml-2"
            >Last Updated - July 21, 2023</small
          >

          <h1 class="mt-3 mb-3">Heading of the Blog</h1>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quas,
            illo quibusdam nemo dolore quae non? Sint, dolorum iure consequatur
            nam repellat quisquam modi et impedit eaque tempora ipsa
            reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Aspernatur molestiae rem laborum! Culpa, illum nulla pariatur
            reiciendis, ab eveniet minus velit iusto, totam impedit officiis
            eum! Vero non voluptatem modi. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Ut quia fugiat totam eligendi ad non
            magnam dolorem asperiores, quam expedita neque vero natus facere
            quis quisquam doloremque voluptates, reprehenderit labore. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Veniam quod
            consequuntur, quam quasi voluptates ad sapiente unde labore ratione
            delectus est odio debitis minus nostrum molestias et dignissimos
            commodi eius! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Nam ducimus enim eveniet nisi praesentium! Eum vitae veritatis
            nisi dolores nobis quidem, sequi vel velit sed incidunt doloremque
            quaerat id quos! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Eaque a tenetur natus sit suscipit voluptates illo qui totam
            ab. Reprehenderit, temporibus necessitatibus dolore fugit ullam
            eligendi cum suscipit quisquam aspernatur? Paragragh 2 Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Minima exercitationem
            voluptatum velit itaque provident nulla aliquid tenetur consectetur
            accusamus reprehenderit. Ea officia voluptatem porro! Blanditiis
            libero ex veniam voluptatibus aliquid. Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Aut quidem quaerat minima libero nisi
            illo aspernatur nihil at ut, expedita odio minus nemo est eos
            suscipit vitae! Cumque, ab dolorem. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Culpa eaque sequi ut, aperiam
            consequatur dolor cumque porro voluptates molestias facilis aut
            dolore, pariatur reiciendis quod, eos rerum itaque iste eius!Lorem
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
            ipsum, animi in voluptatum libero molestiae deserunt sequi officiis
            reprehenderit nostrum quasi cumque vel itaque ratione, velit
            corrupti beatae aperiam quod? Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Commodi, voluptas! Voluptatibus,
            exercitationem optio. Fugit quo id deleniti inventore optio a
            placeat, eligendi, eum eius non, pariatur fugiat? Ratione,
            repudiandae provident?
          </p>
        </div>
      </div>
      <app-comments></app-comments>
    </div>
    

    <div class="col-md-4">
      <div class="card m-3 shadow">
        <div class="card-body">
          <p class="small fw-light fs-6 mb-4"></p>

          <h4 class="card-title fw-bold">About</h4>

          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            iusto nam vero non voluptatibus, porro quo laboriosam vel, voluptas
            explicabo ex minima tempora doloremque exercitationem blanditiis id
            maiores provident! Iste!
          </p>
        </div>
      </div>
      <app-blog-card></app-blog-card>
      <app-blog-card></app-blog-card>
    </div>
  </div>
</div>
