<div class="container mt-5 p-3" style="background-color: transparent">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 m-auto">
      <div
        class="card w-75 m-auto"
        style="
          background-color: transparent;
          border: 0;
          border-top: 2px solid #9f5c59;
          border-bottom: 2px solid #9f5c59;
        "
      >
        <img
          src="assets/images/Logo.png"
          class="card-img-top"
          style="height: 200px"
        />
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="Email"
                formControlName="email"
                #userEmail
                required
              />
              <label for="floatingInput" class="text-secondary">Email</label>
              <span
                class="p-error block errortext"
                *ngIf="
                  loginForm.get('email')?.invalid &&
                  loginForm.get('email')?.touched
                "
              >
                Invalid Email Id</span
              >
            </div>
            <div class="form-floating">
              <input
                type="password"
                class="form-control my-1"
                id="floatingInput1"
                formControlName="password"
                placeholder="Password"
                #userPassword
                required
              />
              <label for="floatingInput1" class="text-secondary"
                >Password</label
              >
              <span
                class="p-error block errortext"
                *ngIf="
                  loginForm.get('password')?.invalid &&
                  loginForm.get('password')?.dirty
                "
              >
                Password is required</span
              >
              <div class="text-center mt-3">
                <button
                  type="button"
                  class="btn"
                  style="background-color: #9f5c59; color: white"
                  (click)="
                    authService.signIn(userEmail.value, userPassword.value)
                  "
                >
                  Log In
                </button>
              </div>
              <p
                class="small text-center font-monospace text-body-secondary m-2"
              >
                Don't have an account yet?<a
                  routerLink="/signup"
                  class="text-gray-soft"
                  style="text-decoration: none"
                >
                  SignUp</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
