<div class="card shadow mt-3">
  <div class="card-body ">
    <form>
      <div class="row">
        <div class="col-10">
          <textarea #comment
          class="form-control"
          placeholder="Add your comment here"
        ></textarea>
        </div>
        <div class="col-2">
          <button class="btn btn-outline-info text-center" type="button" (click)="addComment(comment.value)">Comment</button>
        </div>
      </div>
    </form>   
    <hr class="hr hr-blurry" />
    <div class="col-md-12">
      <div class="d-flex flex-start mb-1">    
            <p class="small text-secondary p-0">
              <img
                class="rounded-circle shadow-1-strong m-1"
                src="/assets/icons/person-circle.svg"
                alt="avatar"
                width="30"
                height="30"
              />
              Akash Raghav
            </p>
            <div class="alert alert-info">
            <p class="small p-0 ms-1 mt-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
              quasi ipsam quod iure fuga numquam blanditiis veritatis facere
              sequi fugit provident, non, maiores est ratione culpa soluta
              tempora nobis dicta.
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="d-flex flex-start mb-1">    
            <p class="small text-secondary p-0">
              <img
                class="rounded-circle shadow-1-strong m-1"
                src="/assets/icons/person-circle.svg"
                alt="avatar"
                width="30"
                height="30"
              />
              Akash Raghav
            </p>
            <div class="alert alert-info">
            <p class="small p-0 ms-1 mt-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
              quasi ipsam quod iure fuga numquam blanditiis veritatis facere
              sequi fugit provident, non, maiores est ratione culpa soluta
              tempora nobis dicta.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
