<header>
  <div class="bg-white p-2" style="border-bottom: 2px solid #9f5c59">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a routerLink="user-home" id="active" class="nav-link px-2 m-1"
              >HOME</a
            >
          </li>
          <li>
            <a routerLink="myblogs" class="nav-link px-2 m-1 link-secondary"
              >MY BLOGS</a
            >
          </li>
          <li>
            <a routerLink="create-new" class="nav-link px-2 m-1 link-secondary"
              >WRITE SOMETHING NEW!</a
            >
          </li>
        </ul>
        <div class="text-end">
          <button
            type="button"
            class="btn"
            style="background-color: #9c5f59; color: white"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white py-0">
    <div
      class="container d-flex flex-wrap align-items-center justify-content-center"
    >
      <img src="assets/images/Logo.png" class="ms-3 me-3" width="200" />
    </div>
  </div>
</header>
