<div
  class="container align-content-center m-auto mt-3"
  style="background-color: #9f5c59; border-radius: 20px"
>
  <div class="row">
    <div class="col">
        <img
          src="assets/images/sign_up.png"
          class="ms-5"
          style="width:75%; border-radius: 10px;"
        />
     
    </div>
    <div
      class="col ms-3"
      style="background-color: #ffffff; border-radius: 0px 25px 25px 0px"
    >
      <div class="card border-0 w-75 m-auto" style="background-color: #ffffff">
        <img
          src="assets/images/Logo.png"
          class="card-img-top"
          style="height: 150px; width: 250px; align-self: center"
        />
        <div class="card-body text-center">
          <h5>Create Your Account</h5>
          <p class="small text-body-secondary">
            Enter the fields below to get started.
          </p>

          <form>
            <input
              type="text"
              class="form-control my-0 py-2"
              placeholder="Email Address"
              #userEmail
              required
            />
            <input
              type="text"
              class="form-control my-3 py-2"
              placeholder="Username"
              #userName
              required
            />
            <input
              type="password"
              class="form-control my-3 py-2"
              placeholder="Password"
              #userPassword
              required
            />
            <div class="text-center mt-3">
              <button
                type="button"
                class="btn"
                style="background-color: #9f5c59; color: white"
                (click)="OnsignUp(userEmail.value,userPassword.value)"
              >
                Sign Up
              </button>
            </div>
            <p class="small text-center font-monospace text-body-secondary m-2">
              Already have an account ?<a
                routerLink="/login"
                class="text-gray-soft"
                style="text-decoration: none"
              >
                Login</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
