  <div class="container py-2">
    <div class="row">
      <div class="col-12 ">
         <h5 class="m-3 " style="font-family:monospace ">Welcome, <span style="color:#9f5c59;">{{email}}</span></h5>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-4">
        <app-blog-card></app-blog-card>
      </div>
      <div class="col-md-4">
        <app-blog-card></app-blog-card>
      </div>
      <div class="col-md-4">
        <app-blog-card></app-blog-card>
      </div>
    </div>
  </div>
