<div class="container mt-5 p-3" style="background-color: transparent">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 m-auto">
      <div
        class="card card border-0 w-75 m-auto"
        style="background-color: transparent"
      >
        <img
          src="assets/images/Login_Logo.png"
          class="card-img-top"
          style="height: 200px"
        />
        <div class="card-body">
          <form>
            <input
              type="text"
              class="form-control my-0 py-2"
              placeholder="Username"
            />
            <input
              type="password"
              class="form-control my-3 py-2"
              placeholder="Password"
            />
            <div class="text-center mt-3">
              <button
                class="btn"
                style="background-color: #9f5c59; color: white"
              >
                Log In
              </button>
            </div>
            <p class="small text-center font-monospace text-body-secondary m-2">
              Don't have an account yet?<a
                href=""
                class="text-gray-soft"
                style="text-decoration: none"
              >
                SignUp</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
