  <div class="p-2 mb-4 bg-light rounded-3">
    <div class="container-fluid py-2">
            <div class="row g-0">
              <div class="col-md-5">
                <img
                  src="assets/images/blog_post.png"
                  class="img-fluid rounded h-100"
                />
              </div>
              <div class="col-md-6 m-3">
                  <p class="small fw-lighter mb-4" style="font-size: 13px">
                    <img src="assets/icons/person-circle.svg" style="width: 25px" />
                    Bootstrap
                  </p>
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in
                    to additional content. This content is a little bit longer.
                  </p>
                  <hr />
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >0 <img src="assets/icons/chat-square.svg"
                    /></small>
                    <small class="text-body-secondary ms-4"
                      >0 <img src="assets/icons/heart.svg"
                    /></small>
                  </p>
            </div>
          </div>
    </div>
  </div>





