<div class="card m-3" (click)="routeToPage()" id="blog-card">
  <img src="assets/images/blog_post.png" class="card-img-top" />
  <div class="card-body">
    <p class="small fw-lighter mb-4" style="font-size: 13px">
      <img src="assets/icons/person-circle.svg" style="width: 25px" />
      Bootstrap
    </p>
    <h5 class="card-title fw-bold">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <hr />
    <p class="card-text">
      <small class="text-body-secondary"
        >0 <img src="assets/icons/chat-square.svg"
      /></small>
      <small class="text-body-secondary ms-4"
        >0 <img src="assets/icons/heart.svg" 
      /></small>
    </p>
  </div>
</div>
<script>

</script>
