<div class="container mb-0" style="background-color:#9c5f59">
    <footer class="py-2">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3 ">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">PRIVACY POLICY</a></li>
        <div class="vr text-white m-2 "></div>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">TERMS</a></li>
        <div class="vr text-white m-2 "></div>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FEEDBACK</a></li>
        <div class="vr text-white m-2 "></div>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">ABOUT</a></li>
        <div class="vr text-white m-2 "></div>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">CONTACT</a></li>
      </ul>
      <p class="text-center my-0 text-white small">&copy; Trendy Threads 2023 Company, Inc</p>
      <p class="text-center text-white small">ALL RIGHTS RESERVED</p>
    </footer>
  </div>